.switch-wrap {
  display: inline-block;

  .switch {
    position: relative;
    line-height: 31px;
    cursor: pointer;
    font-size: 14px;
    margin: 0;

    input[type=checkbox] {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }

    input[type=checkbox] + span {
      position: relative;
      display: inline-block;
      width: 57px;
      height: 31px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      background: #ccc;
      border-radius: 25px;
      vertical-align: top;
      margin-right: 5px;
      transition: all 0.3s;
    }

    input[type=checkbox] + span:hover {
      border: 2px solid rgb(158, 158, 158);
      background: rgb(158, 158, 158);
    }

    input[type=checkbox] + span:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 27px;
      height: 27px;
      background: #fff;
      border-radius: 100%;
      content: '';
      transition: all 0.3s;
    }

    input[type=checkbox]:checked + span {
      border: 2px solid #64B5F6;
      background: #64B5F6;
    }

    input[type=checkbox]:checked + span:hover {
      border: 2px solid #4490cf;
      background: #4490cf;
    }

    input[type=checkbox]:checked + span:after {
      left: 26px;
    }

    &.small {
      line-height: 22px;
      font-size: 12px
    }

    &.small input[type=checkbox] + span {
      width: 38px;
      height: 22px;
      border-radius: 11px;
      margin-right: 5px;
    }

    &.small input[type=checkbox] + span:after {
      width: 18px;
      height: 18px;
    }

    &.small input[type=checkbox]:checked + span:after {
      left: 16px;
    }
  }

  .description {
    font-size: 12px !important;
    font-weight: normal;
    padding: 0 !important;
    margin-bottom: 0 !important;
    border: 0 !important;
    color: #ff5252;
    text-align: left !important;

    &.error {
      animation: shaking 0.3s;
    }
  }
}

/* error message shaking */
@keyframes shaking {
  0% {
    transform: translateX(10px);
  }
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}